asgiref==3.2.7
asn1crypto==0.24.0
astor==0.8.1
attrs==19.3.0
captcha==0.3
certifi==2020.6.20
chardet==3.0.4
cryptography==2.6.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.4.2
devscripts==2.19.5+deb10u1
distro-info==0.21
Django==2.0.3
django-pylibmc==0.6.1
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
docopt==0.6.2
entrypoints==0.3
filelock==3.0.12
futures==3.1.1
html5lib==1.0.1
httplib2==0.11.3
idna==2.6
imagecodecs==2020.2.18
imageio==2.8.0
Jinja2==2.10
keyring==17.1.1
keyrings.alt==3.1.1
keyutils==0.6
kiwisolver==1.2.0
liac-arff==2.5.0
lxml==4.3.2
lz4==3.0.2
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.2.1
meson==0.49.2
mock==4.0.2
my-cookies==0.1.1
mysqlclient==2.1.0
olefile==0.46
pbkdf2==1.3
pexpect==4.6.0
protobuf==3.13.0
psd-tools==1.9.11
pulsemixer==1.4.0
pyaes==1.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycrypto==2.6.1
pycryptodome==3.9.7
pycups==1.9.73
pycurl==7.43.0.2
Pygments==2.3.1
pylibmc==1.6.1
pyparsing==2.4.7
pyPEG2==2.15.2
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
PySocks==1.7.1
pytz==2020.1
PyWavelets==1.1.1
pyxattr==0.6.1
pyxdg==0.25
PyYAML==3.13
six==1.12.0
soupsieve==1.8
SQLAlchemy==1.3.17
sqlparse==0.3.1
unattended-upgrades==0.1
unidiff==0.5.4
